.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* html{
  height: 100%;
} */

.page-container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 101vh;
}

body{
  height: 100%;
  color: black
  /* background-color: 	#c8c9d6; */
}

p{
  color: black;
}

.nav-item.active{
  color: white;
}

body.dark{
  background-color: #282c34;
}

div.root{
  height: 100%;
}

div.outlet{
  min-height: 100%;
}

footer{
  /* position: fixed; */
  width: 100%;
  bottom: 0%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
