/* body{
    overflow: hidden;
} */

.card{
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, padding-bottom 5s ease;
    /* position: relative; */
}

.card:hover {
    transform: translateY(-5px);
    background-color: #506bef;
}

.card:hover:active {
    transform: translateY(0);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s ease, color 0.3s ease;
}

.card-body:hover{
    
    padding-bottom:15%;
    transition: padding-bottom 0.5s ease;
}

  
.button-container {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-150%, 300%); */
    transform: translateX(-3%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    align-items: center;
    text-align: center;
    width: 100%;
}


.card-body:hover .button-container {
    
    opacity: 1; 
    transition: opacity 2s ease;;
}

.card-body{
    background-color: rgb(247, 249, 253);
    border-color: rgb(222, 231, 249);
    border-radius: 5px;
    max-height: 300px;
    min-height: 100px;
    transition: padding-bottom 0.5s ease;
}
